$text-color: #282828;
$text-white: #b8b8b8;
$background-color: #f0ece6;

$main-color: #f3f1eb;
$main-color__light: #fefefe;
$main-color__dark: #8f8b86;

$main-box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
$second-box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

$font-family: "Montserrat", "Arial";

$max-width: 576px;
